.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
  top: 0;
  left: -100vw;
  right: 100vw;
  bottom: 0;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.backdrop.show {
  left: 0;
  right: 0;
  opacity: 1;
}
