.sidebar {
    position: fixed;
    z-index: 95;
    top: 0;
    bottom: 0;
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all 0.8s ease-in-out;
    right: -100%;
    box-shadow: -5px 0 12px rgba(0, 0, 0, 0.2);
    a {
        xall: unset;
        cursor: pointer;
        user-select: none;
        color: #000;
    }
}

.sidebar.show {
    right: 0;
}

@media screen and (min-width: 899px) {
    .sidebar {
        display: none;
    }
    .backdrop {
        display: none;
    }
}
